<ion-app>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select</title>
  </head>
  <ion-header class="header">
    <!-- <ion-navbar class="navbar"> -->
      <ion-title>
        <ion-icon src="../../assets/bell.svg" class="bell">
        </ion-icon>
        <div class="ion-text-center">
          <img src="../../assets/logo.svg" class="logo">
        </div>
      </ion-title>
    <!-- </ion-navbar> -->
  </ion-header>
  <div class="white"></div>

<ion-content overflow-scroll="true">

   <div class="flex-container">
    <div class="card" (click)="managers()">
      <div class="ion-text-top">
        <h1 class="card-title">03</h1>
    </div>
      <div class="card-body">
        <div class="ion-text-title">

        <h6 class="h6">Maintenance <br> Manager</h6>
      </div>
      </div>
    </div>
    &nbsp;
    &nbsp;
    <div class="card" (click)="installationlist()">
      <div class="ion-text-top">
        <h1 class="card-title">01</h1>
    </div>
      <div class="card-body">
        <div class="ion-text-title">
        <h6 class="h6"> Installation <br>  Manager </h6>
      </div>
      </div>
    </div>
  </div>

  <div class="flex-container">
    <div class="card" (click)="billmanagers()">
      <div class="ion-text-top">
        <h1 class="card-title">02</h1>
    </div>
      <div class="card-body">
        <div class="ion-text-title">
        <h6 class="h6">Bill <br> Manager</h6>
      </div>
      </div>
    </div>
    &nbsp;
    &nbsp;
    <div class="card" (click)="mtechnicians()">
      <div class="ion-text-top">
        <h1 class="card-title">07</h1>
    </div>
      <div class="card-body">
        <div class="ion-text-title">
        <h6 class="h6">Maintenance <br> Technician</h6>
      </div>
      </div>
    </div>
  </div>
  <div class="flex-container">
    <div class="card" (click)="repairtechnicians()">
      <div class="ion-text-top">
        <h1 class="card-title">04</h1>
    </div>
      <div class="card-body">
        <div class="ion-text-title">
        <h6 class="h6">Maintenace Repair Technician</h6>
      </div>
      </div>
    </div>
    &nbsp;
    &nbsp;
    <div class="card" (click)="installtechnicians()">
      <div class="ion-text-top">
        <h1 class="card-title">03</h1>
    </div>
      <div class="card-body">
        <div class="ion-text-title">
        <h6 class="h6">Installation <br> Technician</h6>
      </div>
      </div>
    </div>


  </div>
  <!--new -->

  <div class="flex-container">

      <div class="card" (click)="totalMalfunctions()">
      <div class="ion-text-top">
        <h1 class="card-title">12</h1>
    </div>
      <div class="card-body">
        <div class="ion-text-title">
        <h6 class="h6">Total <br> Malfunctions</h6>
      </div>
      </div>
    </div>
    &nbsp;
    &nbsp;
    <div class="card" (click)="complains()">
      <div class="ion-text-top">
        <h1 class="card-title">17</h1>
    </div>
      <div class="card-body">
        <div class="ion-text-title">
        <h6 class="h6">Total <br> Complains</h6>
      </div>
      </div>
    </div>


  </div>

  <div class="flex-container">

    <div class="card" (click)="installations()" >
    <div class="ion-text-top">
      <h1 class="card-title">12</h1>
  </div>
    <div class="card-body">
      <div class="ion-text-title">
      <h6 class="h6">Total <br> Installation</h6>
    </div>
    </div>
  </div>
  &nbsp;
  &nbsp;
  <div class="card" (click)="bills()">
    <div class="ion-text-top">
      <h1 class="card-title">17</h1>
  </div>
    <div class="card-body">
      <div class="ion-text-title">
      <h6 class="h6">Total <br> Bills</h6>
    </div>
    </div>
  </div>

  </div>

  <div class="flex-container">

    <div class="card" (click)="contracts()">
    <div class="ion-text-top">
      <h1 class="card-title">12</h1>
  </div>
    <div class="card-body">
      <div class="ion-text-title">
      <h6 class="h6">Total <br> Contracts</h6>
    </div>
    </div>
  </div>
  &nbsp;
  &nbsp;
  <div class="card" (click)="clients()" >
    <div class="ion-text-top">
      <h1 class="card-title">17</h1>
  </div>
    <div class="card-body">
      <div class="ion-text-title">
      <h6 class="h6"> Total <br> Clients </h6>
    </div>
    </div>
  </div>


  </div>
  <div class="white"> </div>
</ion-content>

<!--footer-->

<ion-tab-bar slot="bottom">

  <ion-tab-button tab="home">
    <ion-icon src="assets/profile.svg"></ion-icon>
</ion-tab-button>

<ion-tab-button tab="home">
<ion-icon src="assets/message.svg"></ion-icon>
</ion-tab-button>

<ion-tab-button tab="home">
  <ion-fab vertical="bottom" horizontal="center" slot="fixed" class="fab-button" click="home()">
    <ion-fab-button>
      <ion-icon src="assets/home-icon.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-tab-button>

<ion-tab-button tab="home">
<ion-icon src="assets/settings.svg"></ion-icon>
</ion-tab-button>

<ion-tab-button tab="home">
<ion-icon src="assets/questionmark.svg"></ion-icon>
</ion-tab-button>

</ion-tab-bar>

<ion-fab vertical="bottom" horizontal="center" slot="fixed"  style="background-color: #194E78; margin-bottom: 7px; border-radius: 30px;"  (click)="home()">
<ion-fab-button class="fab-button">
  <ion-icon name="home"></ion-icon>
</ion-fab-button>
</ion-fab>





</ion-app>
