<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select</title>
</head>
<ion-header class="header">
  <ion-title>
     <ion-icon src="../../assets/bell.svg"  class="bell">
      </ion-icon>
      <div class="ion-text-right">
        <img src="../../assets/logo.svg" class="logo">
      </div>
    </ion-title>
</ion-header>
<div class="nav-wrapper" style="background: white;height: 6em;"></div>
<br>
<h1 class="ion-text-center">Client Detail</h1>
<div class="white"></div>
<ion-content overflow-scroll="true">


      <ion-card class="card-design">
<div class="top-margin">
        <ion-text class="client">  Client :  </ion-text>
      </div>
      </ion-card>

      <hr class="hr">

      <ion-card class="card-design">
        <div class="top-margin">
        <ion-text class="client">  Lifts Number :  </ion-text>
      </div>
      </ion-card>

    <hr class="hr">

    <ion-card class="card-design">
        <div class="top-margin">
        <ion-text class="client">  City :  </ion-text>
      </div>
      </ion-card>

    <hr class="hr">

    <ion-card class="card-design">
        <div class="top-margin">
        <ion-text class="client">  Location :  </ion-text>
      </div>
      </ion-card>

    <hr class="hr">

    <ion-card class="card-design">
        <div class="top-margin">
        <ion-text class="client">  Lat Long :  </ion-text>
      </div>
      </ion-card>

    <hr class="hr">

    <ion-card class="card-design">
      <div class="top-margin">
      <ion-text class="client">  Number of Lift Stops :  </ion-text>
    </div>
    </ion-card>

  <hr class="hr">


    <div class="top-margin">
    <ion-text class="text">  Notes  </ion-text>
  </div>

<ion-card class="area">
<ion-textarea class="textArea">  </ion-textarea>
</ion-card>

<hr class="hr">

    </ion-content>
