<ion-app>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select</title>
  </head>

  <ion-header class="header">
    <!-- <ion-navbar class="navbar"> -->
      <ion-title>
       <ion-icon src="assets/bell.svg" class="bell">
        </ion-icon>
        <div class="ion-text-right">
          <img src="assets/logo.svg" class="logo">
        </div>
      </ion-title>
    <!-- </ion-navbar> -->
  </ion-header>

  <ion-content overflow-scroll="true">
    <div class="container">
      <h1 class="ion-text-center"> Visits </h1>


  <ion-tab-bar class="menu-bar">
          <button type="button" class="btn btn-primary" (click)="today()"> Today </button>
          <div class="divider"></div>
          <button type="button" class="btn btn-secondary"   (click)="upcoming()"> Upcoming </button>
          <div class="divider"></div>
          <button type="button" class="btn btn-primary"   (click)="previous()"> Previous </button>
        </ion-tab-bar>


      <div class="flex-container">
      <!-- <div class="rectangle"> -->

        <ion-card class="card" *ngFor="let result of visit_data">
        <div class="square">

            <div class="complain"><h3 class="h3">Visit #: {{result?.visit_number}}</h3></div>
            <br>
            <br>
        <ion-text class="date">Cliet Name : {{result?.client_name}}<br></ion-text>
        <ion-text class="date">Location: {{result?.location}}<br></ion-text>
    </div>

  </ion-card>

  </div>

  </div>
  </ion-content>

  <!--footer-->


      <ion-tab-bar class="tab-bar">

        <ion-tab-button tab="home">
          <ion-icon src="assets/profile.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon src="assets/message.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-fab vertical="bottom" horizontal="center" slot="fixed" class="fab-button" click="home()">
        <ion-fab-button>
          <ion-icon src="assets/home-icon.svg"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon src="assets/settings.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon src="assets/questionmark.svg"></ion-icon>
    </ion-tab-button>

    </ion-tab-bar>

    <ion-fab vertical="bottom" horizontal="center" slot="fixed"  style="background-color: #194E78; margin-bottom: 7px; border-radius: 30px;"  (click)="home()">
      <ion-fab-button class="fab-button">
        <ion-icon name="home"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    </ion-app>

