<ion-app>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select</title>
  </head>
  <ion-header class="header">
    <!-- <ion-navbar class="navbar"> -->
      <ion-title>
        <ion-icon src="../../assets/bell.svg" class="bell">
        </ion-icon>
        <div class="ion-text-center">
          <img src="../../assets/logo.svg" class="logo">
        </div>
      </ion-title>
    <!-- </ion-navbar> -->
  </ion-header>

  <div class="white"></div>

  <ion-content overflow-scroll="true">

    <div class="flex-container">
      <div class="card" (click)="totalVisits()">
        <div class="ion-text-top">
              <h2 class="text"> 157</h2>
          </div>
          <div class="card-body">
            <div class="ion-text-title">
                  <h6 class="card-title">Total Visit</h6>
              </div>
          </div>

        </div>

        &nbsp;
      &nbsp;

      <div class="card" (click)="previousVisits()">
        <div class="ion-text-top">
              <h2 class="text"> 139</h2>
          </div>
          <div class="card-body">
            <div class="ion-text-title">
                  <h6 class="card-title">Previous Visit</h6>
              </div>
          </div>
      </div>
      </div>
  <div class="flex-container">
      <div class="card" (click)=" totalVisits()">
        <div class="ion-text-top">
              <img class="card-img-top" src="../../assets/report.svg" alt="Card image cap">
          </div>
          <div class="card-body">
            <div class="ion-text-title">
                  <h6 class="card-title">Visit Details</h6>
              </div>
          </div>
      </div>
      &nbsp;
      &nbsp;
      <div class="card" (click)=" totalVisits()">
        <div class="ion-text-top">
              <img class="card-img-top" src="../../assets/assignment.svg" alt="Card image cap">
          </div>
          <div class="card-body">
            <div class="ion-text-title">
                  <h6 class="card-title">Assigned Visit</h6>
              </div>
          </div>
      </div>
  </div>
  <div class="flex-container">
      <div class="card" (click)="visitReport()">
        <div class="ion-text-top">
              <img class="card-img-top" src="../../assets/details.svg" alt="Card image cap">
          </div>
          <div class="card-body">
            <div class="ion-text-title">
                  <h6 class="card-title">Visit Report</h6>
              </div>
          </div>
      </div>
      &nbsp;
      &nbsp;
      <div class="card" (click)="preVisits()">
        <div class="ion-text-top">
              <img class="card-img-top" src="../../assets/previous.svg" alt="Card image cap">
          </div>
          <div class="card-body">
            <div class="ion-text-title">
                  <h6 class="card-title">Previous Visit </h6>
              </div>
          </div>
      </div>
  </div>

<h1 class="tittle">Today's Visits</h1>

<ion-card  class="card-design"    *ngFor="let result of  installation_data">
  <ion-card-title class="sub-detail"> Visit # {{result?.Installation_id}} <br> </ion-card-title>
  <ion-text class="card-detail">Client Name : {{result?.Client_Name}}  </ion-text>
  <br>
  <ion-text class="card-detail"> Location : {{result?.Client_Location}}  <br> </ion-text>
  <br>

</ion-card>

</ion-content>

<div class="white"> </div>
<!--footer-->

<ion-tab-bar slot="bottom">

  <ion-tab-button tab="home">
    <ion-icon src="assets/profile.svg"></ion-icon>
</ion-tab-button>

<ion-tab-button tab="home">
<ion-icon src="assets/message.svg"></ion-icon>
</ion-tab-button>

<ion-tab-button tab="home">
  <ion-fab vertical="bottom" horizontal="center" slot="fixed" class="fab-button" click="home()">
    <ion-fab-button>
      <ion-icon src="assets/home-icon.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-tab-button>

<ion-tab-button tab="home">
<ion-icon src="assets/settings.svg"></ion-icon>
</ion-tab-button>

<ion-tab-button tab="home">
<ion-icon src="assets/questionmark.svg"></ion-icon>
</ion-tab-button>

</ion-tab-bar>

<ion-fab vertical="bottom" horizontal="center" slot="fixed"  style="background-color: #194E78; margin-bottom: 7px; border-radius: 30px;"  (click)="home()">
<ion-fab-button class="fab-button">
  <ion-icon name="home"></ion-icon>
</ion-fab-button>
</ion-fab>


</ion-app>

