@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);


.flex-container{
  justify-content: center;
  display: flex;
  margin-top: 1em;
}
.header{
  height: 40px;
background-color: #194E78;
}
.bell{
margin-left: 0.25em;
position: absolute;
top: 5px;
left: 0.25em;
width: 24px;
height: 30px;
}

.logo{
  position: relative ;
  top: -10px;
  right: 0px;
  width: 60px;
  height: 80px;
  justify-content: center;
}


.ion-text-center{
  margin-top: 1.5em;

}

 .text{
font-weight:bold;
font-family: Roboto;
margin-bottom:  0.1em;
color:#194E78 ;
font-size:30px;
}

.white{
    width: 100%;
    height: 6em;
}

.ion-text-center{
    margin-top: 0.1em;
}
.card{
  width: 143px;
  height: 75px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  border-radius: 8%;
}
.card-img-top{
  width: 33px;
  height: 33px;
  margin-top: 1.3em;
  font-weight: bold;

}
.card-title{
  margin-top: -0.6em;
  color: #194E78;
  font-weight: 800;
  font-size:14px;
  font-family: Roboto;
}

.tittle{
    color: #194E78;
    font-family:Roboto ;
    text-align: center;
    margin-top:15px ;
    font-size:25px;
    font-weight: 600;
}




.white{
  width: 100%;
  height: 1.1em;
}

ion-tab-bar, ion-tab-button{
    background-color: #194E78;

   }

.footer{
  position: sticky;
}
   ion-icon{
     color: white;
     font-size: 30px;
   }

  .fab-button{
    --background:#194E78;
  }

  .ion-text-top{
    margin-top: -0.7em;
    text-align: center !important;
  }


  .card-detail{
 margin-left: 8px;
 font-family:Roboto ;
 float: left;

  }
  .card-design{
    margin-top: 2px;
    height: 70px;
    font-family:Roboto ;
  }
  .sub-detail{
    color: #194E78 ;
    margin-left: 8px;
    font-weight: 600;
    font-family:Roboto ;
    font-size: 20px;
  }

  .ion-text-title{
  margin-top: 0.6em;
  text-align: center !important;
}

