.header{
  height: 40px;
background-color: #194E78;
}
.bell{
margin-left: 0.2em;
position: absolute;
top: 5px;
left: 0.5em;
width: 24px;
height: 30px;
}
.logo{
  position: absolute ;
  top: -11px;
  right: 0px;
  width: 66px;
  height: 86px;
}
h1 {
    text-decoration: underline;color:#194E78 ; font-weight: bold;margin-top: 1em;
}
h2{
  color:#194E78 ; font-weight: bold;
}
p{ font-weight: bold;}

.tabs{
margin-top: 1em;
}
.btn-primary{
  width: 8em;
  background-color: #194E78;
  border: #194E78;
}
.btn-secondary{
  width: 8em;
  background-color: #F5F5F5;
  color: #6E6E6E;
  border: #6E6E6E;
}
.divider{
  width:1em;
  height:auto;
  display:inline-block;
}

.name{
  color: #194E78;
  font-size: 20px;
  font-weight: bold;
}
//footer code
.white{
  width: 100%;
  height: 1.1em;
}

ion-tab-bar, ion-tab-button{
    background-color: #194E78;

   }

.footer{
  position: sticky;
}
   ion-icon{
     color: white;
     font-size: 30px;
   }
  .fab-button{
    --background:#194E78;
  }

    //cards code
    .flex-container {
      justify-content: center;
      display: flex;
      margin-top: 2em;
    }
    .card{
      width: 143px;
      height: 70px;
      box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
      border-radius: 8%;
    }
    .ion-text-top{
      margin-top: 3.2em;
      text-align: center !important;
    }
    .card-title{
      margin-top: -1.65em;
      color: #194E78;
      font-weight:bold;
      font-size: 28px;
    }
    .ion-text-title{
      margin-top: 1.4em;
      text-align: center !important;
    }
    .h6{

      font-size: 14px;
      color: #194E78;
      font-weight:bold;
      margin-top: -1.8em;
      margin-bottom: 0.2em;
    }
